


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <p class="navbar-brand" >Hello <%= current_user.username %>! </p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <div class="nav">
        <li class="nav-item">
         <%= link_to "Add a New Project", new_project_path ,class:"btn btn-primary" %>
         <%= link_to "Back to projects", root_path ,class:"btn btn-danger" %>
        </li>
        </div>
    </div>
  </div>
</nav>
<br>
<br>



<div class="container">
<table class="table">
  <thead>
    <% @projects.each do |project| %>
  <% if project.user == current_user %>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><%= project.id %></td>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
      <td><%= button_to 'Edit', edit_project_path(project), method: 'get' , class:"btn btn-secondary"%></td>
      <td><%= button_to 'Delete', project_path(project), method: 'delete', data: { confirm: 'Are you sure?' } , class:"btn btn-danger" %></td>
    </tr>
    
    <% end %>
    <% end %>
    
  </tbody>
</table>


</div>