
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3" style="margin-top:150px">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <form>

                <div class="form-outline mb-4">
                    <%= f.label :login , class:"form-label" %>
                    <%= f.email_field :login ,  autofocus: true , class:"form-control form-control-lg" %> 
                </div>

                <div class="form-outline mb-4">
                    <%= f.label :password , class:"form-label" %>
                    <%= f.password_field :password, autocomplete: "current-password" , class:"form-control form-control-lg"%>
                </div>

                <div class="text-center mb-4">
                    <%= f.submit "Submit", data: {turbo: false},  class: "btn btn-primary" %>
                </div>
              </form>
                  <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>